* {
    box-sizing: border-box;
}

:root {
    --gradient-color: linear-gradient(310deg, #7928ca 0%, #ff0080 100%);
    --activeColor: #0dcd94;
    --theme-color: #0dcd94;
    --default-color: #ff1867;
}

.theme-dark {
    --border-color: rgba(209, 213, 219, 0.1);
    --background-color: rgb(14, 23, 39);
    --color: #c2c7d0;
    --body-color-bg: rgb(14, 23, 39);
    --primary-bg: rgb(52, 58, 64);
    --soft-background: rgba(255, 255, 255, 0.1);
    --card-background: rgba(255, 255, 255, 0.1);
    --box-shadow: rgba(0, 0, 0, 0.1);
    --nav-color: rgb(14, 23, 39);
    --input-color: #343a40;
    --soft-border-color: #555;
}

.theme-light {
    --border-color: #eee;
    --background-color: #f1f5f6;
    --body-color-bg: #f6f4f4;
    --color: #343a40;
    --primary-bg: rgb(229 234 242);
    --soft-background: rgb(97 80 80 / 10%);
    --nav-color: #f8f9fa;
    --box-shadow: #eee;
    --input-color: #eee;
    --card-background: #fff;
    --soft-border-color: #eee;
}

html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

ul,
p,
h4,
h1,
h3,
h5,
label {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

small {
    opacity: 0.8;
    font-size: 0.75rem;
}

a:hover,
a:visited,
a:focus {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: var(--dcolor);
}

a {
    color: var(--color);
    display: inline-block;
}

.w_100 {
    width: 100% !important;
}

.ci-container,
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.w100p {
    width: 100% !important;
}

.bb-0 {
    border-bottom: 0;
}

.bt-0 {
    border-top: 0;
}

.flex-0 {
    flex: 0 !important;
}

.flex-auto {
    flex: auto !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset !important;
    box-shadow: 0 0 0px 1000px var(--background-color) inset !important;
    -webkit-text-fill-color: var(--color) !important;
    color: var(--color) !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset !important;
    box-shadow: 0 0 0px 1000px var(--background-color) inset !important;
    -webkit-text-fill-color: var(--color) !important;
    color: var(--color) !important;
}

.p-r {
    position: relative;
}

.space-evenly {
    justify-content: space-evenly;
}

.max-w-360 {
    width: 360px;
    max-width: 360px;
}

@media (min-width: 576px) {
    .ci-container,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 576px) and (orientation: landscape) {
    .ci-container,
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .ci-container,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .ci-container,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .ci-container,
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1300px) {
    .ci-container,
    .container {
        max-width: 1300px;
    }
}

.pointerEvent {
    pointer-events: none;
    appearance: none;
}

.soft-border-color {
    border-color: var(--soft-border-color) !important;
}

/*----------------------------------------------
 col
----------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap 4 */
.col-xs-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-xs-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-xs-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-xs-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xs-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-xs-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-xs-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-xs-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-md-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-md-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xl-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* XXL devices (very large desktops, 1400px and up) */
@media (min-width: 1400px) {
    .col-xxl-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xxl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xxl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xxl-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xxl-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xxl-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xxl-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xxl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xxl-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xxl-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xxl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
