:root {
    --theme-color: #0dcd94;
    --themeColor: #0dcd94;
    --default-color: #ff1867;
}

.theme-dark {
    --nav-color: rgba(14, 23, 39, 1);
    --body-color: #191d2b;
    --color: #c2c7d0;
    --card-color: rgba(255, 255, 255, 0.1);
    --box-shadow: rgba(0, 0, 0, 0.1);
    --box-shadow-soft: #322d2d;
    --background-color: rgb(14, 23, 39);
    --border-color: rgba(209, 213, 219, 0.1);
    --soft-background: rgba(255, 255, 255, 0.1);
    --card-soft: rgba(255, 255, 255, 0.1);
    --after-bg-color: rgba(0, 0, 0, 0.2);
    --body-color-bg: rgb(14, 23, 39);
}

.theme-light {
    --nav-color: #f8f9fa;
    --body-color: #f3f5f9;
    --background-color: #f1f5f6;
    --color: #4b566b;
    --card-color: #fff;
    --box-shadow: #eee;
    --box-shadow-soft: #eee;
    --border-color: #f3f5f9;
    --soft-background: #fff;
    --card-soft: #f9f9f9;
    --after-bg-color: rgba(0, 0, 0, 0.4);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #f9f9f9 !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

li {
    list-style: none !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

.active {
    color: var(--theme-color);
}

.decoration-none:hover {
    text-decoration: none !important;
}

.text-color {
    color: var(--color);
}

/* --------------------------------------
    Navbar Area
-------------------------------------- */
.top-navbar-area {
    position: relative;
    height: 65px;
    overflow: hidden;
    z-index: 100;
}

.navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--card-color);
    height: 65px;
    display: flex;
    align-items: center;
    padding: 7px 0;
    border-bottom: 1px solid #eee;
}

.custom_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.navbar-brand.logo {
    width: 150px;
    flex: 0 0 150px;
}

.navLeft_menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-menu-area .navbar-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-items > li > a {
    color: var(--color);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
    padding: 4px 6px;
}

.navbar-items > li > a:hover {
    color: var(--theme-color);
    text-decoration: none;
}

.navbar-items > li > a.active {
    color: var(--theme-color);
}

ul.navAction_btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

a.btn.dz_login_btn {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.4px;
    font-family: sans-serif;
    background: var(--theme-color);
    border: 0px;
    color: #fff;
    padding: 7px 15px;
}

.items_search_input .btn:hover,
a.btn.dz_login_btn:hover {
    background-color: #08ad7c;
}

a.btn.dz_login_btn:focus {
    box-shadow: none;
}

.shoppingCart_btn {
    position: relative;
}

.shoppingCart_btn .btn {
    padding: 0;
    font-size: 26px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color);
    border: 1px solid #0dcd9457;
}

.shoppingCart_btn .btn:focus {
    box-shadow: none;
}

span.countCart_item {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    line-height: 6px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff5722;
    border-radius: 50%;
    color: #fff;
}

.items_search_input {
    width: 300px;
    height: 40px;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.items_search_input .btn {
    background: var(--theme-color);
    color: #fff;
    padding: 7px 10px;
    border-radius: 0;
}

.items_search_input .search {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: sans-serif;
    font-size: 15px;
    color: var(--color);
    letter-spacing: 0.3px;
}

.items_search_input .search:focus-visible {
    outline: none;
}

/*============= Responsive Bottom NavMenu ==============*/

.bottomNavbarMenu {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 55px;
    padding: 10px;
    background-color: var(--card-color);
    border-top: 1px solid #eee;
    z-index: 120;
    display: none;
    align-items: center;
}

ul.bottomNavItems {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

ul.bottomNavItems > li > a {
    font-size: 22px;
    color: var(--color);
    transition: all 0.4s ease-in-out;
}

ul.bottomNavItems > li > a:not(.active):hover {
    color: var(--theme-color);
    text-decoration: none;
}

ul.bottomNavItems > li > a.active {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--theme-color);
    color: #fff;
    margin-top: -30px;
    border: 2px solid #fff;
}

.customer_info_container > .info_header > img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--box-shadow);
}

.sm_customerInfo_sidebar {
    position: fixed;
    width: 350px;
    top: 0;
    right: -400px;
    height: 100%;
    z-index: 105;
    transition: all .4s ease-in-out;
}

.sm_customerInfo_sidebar.show{
    right: 0;
}

.customer_info_container {
    width: 100%;
    height: 100%;
    background: var(--card-color);
    padding: 30px 20px;
    box-shadow: 0 8px 15px var(--box-shadow);
}

.customer_info_container > .info_header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.customerInfoText > h6 {
    margin: 0;
    color: var(--color);
    font-size: 16px;
}

.customerInfoText > p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: var(--color);
}

.customer_info_container .info_body {
    margin-top: 2rem;
}

ul.info_items > li > a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color);
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0;
    border-bottom: 1px solid var(--body-color);
}

ul.info_items > li:first-child a{
    border-top: 1px solid var(--border-color);
}

ul.info_items > li > a:hover{
    color: var(--theme-color);
    text-decoration: none;
}

ul.info_items > li > a > i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    border-radius: 4px;
    box-shadow: 0 0 5px var(--box-shadow);
    font-size: 16px;
    border: 1px solid #eee;
}

/* --------------------------------------
    Hero Slider Area
-------------------------------------- */
.hero-SliderSection {
    height: 100%;
    width: 100%;
    margin-bottom: 5rem;
    padding-top: 3rem;
}

.hero-bannerWrap {
    width: 100%;
    height: calc(600px - 100px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px var(--box-shadow);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
}

.topSlider_wrap {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.topSlider_wrap .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0 !important;
}

.topSlider_wrap .slick-prev,
.topSlider_wrap .slick-next {
    top: 50%;
    width: 45px;
    height: 45px;
    color: #fff;
    background: var(--theme-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.topSlider_wrap:hover .slick-prev,
.topSlider_wrap:hover .slick-next {
    opacity: 1;
}

.topSlider_wrap .slick-prev:before {
    font-family: "FontAwesome" !important;
    content: "\f061" !important;
    font-weight: 900 !important;
}

.topSlider_wrap .slick-next:before {
    font-family: "FontAwesome" !important;
    content: "\f061" !important;
    font-weight: 900 !important;
}

.topSlider_wrap .slick-prev {
    left: 10px;
    z-index: 1;
    top: 45%;
    transform: rotate(180deg);
}

.topSlider_wrap .slick-next {
    right: 10px;
    z-index: 1;
}

/* --------------------------------------
    Category Section Area
-------------------------------------- */
.categorySection {
    margin-bottom: 3rem;
}

.singleCategoryItem .image {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    flex: 0 0 3.5rem;
    padding: 3px;
    background: var(--card-color);
}

.singleCategoryItem .image > img {
    border-radius: 50%;
}

.sectionTitle {
    margin-bottom: 2rem;
}

.sectionTitle .title {
    margin: 0;
    width: fit-content;
    position: relative;
    font-family: sans-serif;
    font-size: 25px;
    color: var(--color);
    font-weight: 600;
}

.title.underlineStyle::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 1px;
    background: var(--theme-color);
    border-radius: 16px;
}

.title.underlineStyle::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 3px;
    background: var(--theme-color);
    left: 0;
    bottom: -4px;
    border-radius: 16px;
}

.singleCategoryItem .categoryName {
    padding-right: 0.5rem;
}

.singleCategoryItem {
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: 170px;
    gap: 12px;
    padding: 3px;
    background: var(--card-color);
    border: 1px solid #eee;
    border-radius: 35px;
    box-shadow: 0 5px 20px var(--box-shadow);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.singleCategoryItem.active {
    background-color: var(--theme-color);
    box-shadow: 0 3px 10px #0dcd946e;
    border-color: #0dcd945e;
}

.singleCategoryItem.active .categoryName > h6 {
    color: #fff;
}

.singleCategoryItem:not(.active):hover {
    border-color: var(--theme-color);
}

.singleCategoryItem .categoryName > h6 {
    margin: 0;
    color: var(--color);
    letter-spacing: 0.3px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.categoryList.slick-initialized .slick-slide {
    display: flex !important;
}

.categoryList.slick-initialized .slick-slide {
    display: flex !important;
    margin: 15px 10px !important;
}

.slick-prev:before {
    font-family: "FontAwesome" !important;
    content: "\f061" !important;
    font-weight: 900 !important;
}

.slick-next:before {
    font-family: "FontAwesome" !important;
    content: "\f061" !important;
    font-weight: 900 !important;
}

.slick-prev {
    z-index: 1;
    transform: rotate(180deg) !important;
}

.categoryList .slick-next {
    z-index: 1;
    right: 35px;
    top: -20px !important;
}

.categoryList .slick-prev,
.categoryList .slick-next {
    width: 40px;
    height: 40px;
    border: 1px solid var(--theme-color);
}

.categoryList .slick-prev {
    right: 75px;
    top: -40px;
}

.categoryList .slick-prev:before,
.categoryList .slick-next:before {
    color: var(--theme-color);
}

.categoryList .slick-prev {
    border-left: 0px solid;
}

/* --------------------------------------
    Feature items Area
-------------------------------------- */
.masonry-item .itemImage {
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
    border-radius: 10px;
    position: relative;
}

.card {
    box-shadow: 0 4px 35px var(--box-shadow);
    border-color: #dddddda1;
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--card-color);
    border-bottom: 1px solid var(--border-color);
}

.masonry-item {
    display: inline-block;
    width: 100%;
    cursor: grabbing;
}

.masonry-item .card {
    margin-bottom: 1rem;
    padding: 15px;
}

.masonry-container {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.masonry-item .itemDetails {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    min-height: 100px;
}

.masonry-item .itemDetails .itemName {
    margin: 0;
    font-size: 16px;
}

.masonry-item .itemDetails .itemInfo {
    margin: 0;
    font-size: 15px;
    color: var(--color);
    font-family: sans-serif;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.masonry-item .itemFooter {
    display: flex;
}

.masonry-item .price .itemPrice {
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.masonry-item .price .previous_price {
    font-family: sans-serif;
    text-decoration: line-through;
    color: #f44336;
    font-size: 15px;
}

.masonry-item .btn.itemAdd {
    background: var(--theme-color);
    border-radius: 4px;
    padding: 4px 14px;
    color: #fff;
    border: 1px solid var(--theme-color);
    font-size: 15px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 2px 6px #0dcd944d;
}

.masonry-item .btn.itemAdd > i {
    margin-right: 3px;
}

.masonry-item .btn.itemAdd:hover {
    background-color: #08ad7b14;
    color: var(--theme-color);
    border-color: #08b883;
    box-shadow: none;
}

.vegType {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 13px;
    padding: 1px 8px 3px;
    font-weight: 500;
    letter-spacing: 0.4px;
    border-radius: 4px;
}

.vegType.veg {
    background: rgba(6, 188, 118, 0.9) !important;
    color: #fff;
}

.vegType.nonVeg {
    background: #f33729;
    color: #fff;
}

.sell_btn {
    font-family: sans-serif;
    font-size: 15px;
    color: var(--color);
    transition: all 0.3s ease-in-out;
}

.sell_btn:hover {
    text-decoration: none;
    color: var(--theme-color);
}

.popularItems_slider .slick-slide {
    margin: 10px 10px;
    cursor: move;
}

.popularItems_slider .slick-next {
    right: 11px;
    top: -15px;
}

.popularItems_slider .slick-prev {
    top: -33px;
    left: 14px;
}

.popularItems_slider .slick-prev,
.popularItems_slider .slick-next {
    width: 35px;
    height: 35px;
    background: var(--theme-color);
}

section.popularItems_section .sectionTitle {
    margin-bottom: 4rem;
}

section.popularItems_section {
    margin-bottom: 5rem;
}

section.featureItems_section {
    margin-bottom: 5rem;
}

.offerBanner {
    height: 250px;
    width: 100%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 35px var(--box-shadow);
    margin-bottom: 1.5rem;
}

section.offerSection {
    margin-bottom: 5rem;
}

/* --------------------------------------
    Special Items Dishes Area
-------------------------------------- */

section.specialItemsSection {
    margin-bottom: 5rem;
}

.specialItemContent {
    border: 1px solid #dddddda1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    padding-top: 0;
    border-radius: 191px 100px 25px 25px;
    cursor: grab;
    transition: all 0.4s ease-in-out;
    margin-bottom: 4rem;
}

.specialItemContent:hover {
    background-color: var(--card-color);
    box-shadow: 0 4px 35px var(--box-shadow);
}

.specialItemContent .topImage {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    overflow: hidden;
    padding: 0.5rem;
    background: var(--background-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: -37px;
}

.specialItemContent .topImage > img {
    border-radius: 50%;
}

.specialItemContent .itemDetails {
    padding-top: 10px;
    text-align: center;
}

.specialItemContent .itemDetails .name {
    margin-bottom: 8px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--color);
}

.specialItemContent .itemDetails .text {
    font-family: sans-serif;
    font-size: 15px;
    color: var(--color);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.specialItem_footer {
    display: flex;
}

.specialItem_footer .price {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--color);
    letter-spacing: 0.5px;
}

.specialItem_footer .btn.itemAdd {
    font-family: sans-serif;
    letter-spacing: 0.4px;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    padding: 8px 15px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}

.specialItem_footer .btn.itemAdd > i {
    margin-right: 3px;
}

.specialItem_footer .btn.itemAdd:hover {
    background-color: var(--theme-color);
    color: #fff;
}

.specialItemsSection .specialRow {
    margin-top: 4rem;
}

/* --------------------------------------
    Footer Area
-------------------------------------- */
.footerSection {
    padding: 2rem 0;
    background: var(--card-color);
    border-top: 1px solid var(--border-color);
}

.siteInfoArea {
    text-align: center;
}

.siteInfoArea .brandLogo {
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.4rem;
}

ul.infoText .siteName {
    font-size: 20px;
    color: var(--color);
}

.socialLink {
    margin-top: 1rem;
}

.socialLink > a {
    font-size: 23px;
    margin: 0 8px;
}

.facebook:hover,
.facebook {
    color: #3b5998;
}

.instagram:hover,
.instagram {
    color: #3f729b;
}

.whatsapp:hover,
.whatsapp {
    color: #43d854;
}

.youtube:hover,
.youtube {
    color: #cd201f;
}

.footerTitle {
    color: var(--color);
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}

.footerLink_area ul li > a {
    color: var(--theme-color);
    margin: 4px 0;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}

.footerLink_area ul li > a:hover {
    text-decoration: none;
    color: #08ad7c;
}

.footerLink_area ul li {
    list-style: inside !important;
}

.footerLink_area ul {
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
}

.customer_loginSection {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------
        Shopping Cart Area
-------------------------------------- */

.shoppingCart_container {
    position: fixed;
    bottom: 0;
    right: -370px;
    width: 370px;
    height: 100vh;
    transition: all 0.4s ease-in-out;
    z-index: 1200;
}

.shoppingCart_container.open {
    right: 0;
}

.shoppingCart_container.open::after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10;
    backdrop-filter: blur(2px);
    cursor: grab;
}

.shoppingCart_container .cartContentWrap {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 30px #fdfdfd;
    position: relative;
    z-index: 15;
}

.singleCartItem .image {
    width: 4.5rem;
    height: 4.6rem;
    flex: 0 0 4.6rem;
    border-radius: 10px;
    overflow: hidden;
}

.cartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #e7e7e7;
}

.cartHeader > .title {
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--color);
}

.cartHeader > .cartCloseBtn {
    color: #fff;
    font-size: 20px;
    line-height: 0;
    width: 2rem;
    height: 2rem;
    background: #f44336;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.cartHeader > .cartCloseBtn:hover {
    text-decoration: none;
    background: #db3428;
}

.cartContentWrap .cartBody {
    width: 100%;
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 15px 10px;
    cursor: move;
}

.singleCartItem {
    display: flex;
    align-items: self-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    background: var(--card-color);
    padding: 7px;
    border-radius: 15px;
    box-shadow: 0 4px 20px var(--box-shadow);
    border: 1px solid var(--border-color);
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.singleCartItem:last-child {
    margin-bottom: 0px;
}

.cartItem_details {
    width: 100%;
}
.cartItem_details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 4.5rem;
    justify-content: space-between;
}

.cartItem_details > .topTitle {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cartItem_details > .topTitle > h6 {
    margin: 0;
    color: var(--color);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.removeCartItem {
    color: #f44336;
    position: absolute;
    right: 8px;
    top: 4px;
}

.middleText .itemTax {
    font-size: 13px;
    letter-spacing: 0.3px;
    color: var(--color);
}

.cartItem_details .item_variant > b > span {
    font-weight: 500;
    text-transform: capitalize;
}

.cartItem_details .item_variant > b {
    font-size: 14px;
    color: var(--theme-color);
    letter-spacing: 0.3px;
}

.cartItem_details .itemAction {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.quantityAction .qty_input {
    width: 35px;
    flex: 0 0 35px;
    text-align: center;
    color: var(--color);
    font-size: 14px;
    font-weight: 600;
    border: 0px;
    background: transparent;
}

.quantityAction .qty_input:focus-visible {
    outline: none;
}

.quantityAction {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    background: var(--background-color);
    border-radius: 10px;
}

.quantityAction > span {
    background: var(--card-color);
    padding: 0 5px;
    border-radius: 8px;
    font-size: 14px;
    color: var(--color);
    cursor: pointer;
}

.quantityAction > span:hover {
    background-color: var(--theme-color);
    color: #fff;
}

.itemAction .itemPrice > p {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
}

.cartItem_details .extrasList {
    padding-top: 5px !important;
}

.cartItem_details .extrasList > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
}

.cartItem_details .extrasList .total_extraPrice {
    justify-content: flex-end !important;
    border-bottom: 0px !important;
    padding-bottom: 0 !important;
    font-weight: 600 !important;
    font-size: 15px !important;
}

.cartFooter .sub_total_list {
    display: flex;
    align-items: center;
    padding: 11px 17px;
    background: var(--card-color);
    border-radius: 30px;
    border: 1px solid #eee;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.sub_total_list .sidebarQty {
    min-width: 30px;
    min-height: 30px;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.sidebarQty .cart_count {
    font-weight: 500;
    color: #fff;
}

.sidebarAmount > .totalPrice {
    font-family: sans-serif;
    color: var(--theme-color);
    letter-spacing: 0.3px;
    font-weight: 600;
    font-size: 16px;
}

.cartFooter {
    padding: 15px;
}

.btn.btn-primary {
    font-family: sans-serif;
    letter-spacing: 0.4px;
    padding: 7px 10px;
    background: var(--theme-color);
    border-color: var(--theme-color);
    transition: all 0.4s ease-in-out;
}

.btn.btn-primary:hover {
    background-color: #08ad7c;
}

/* --------------------------------------
    Item Details Area
-------------------------------------- */
.single_itemContainer .item_topHeader {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.item_topHeader > .itemImg {
    border-radius: 15px;
    overflow: hidden;
    height: calc(400px - 50px);
    width: 100%;
}

.single_itemContainer {
    position: relative;
    max-height: 75dvh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

button.closeModal {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ff1908;
    border: 0px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    padding: 1px 8px;
    cursor: pointer;
}
button.closeModal:focus,
button.closeModal:focus-visible {
    outline: none;
}

.item_topHeader .defaultImage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item_topHeader .defaultImage > .singleImg {
    border: 1px solid #eee;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
}

.item_topHeader .defaultImage > .singleImg > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.item_topHeader .defaultImage > .singleImg:hover img {
    transform: scale(1.1);
}

.headerContent {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.single_itemContent {
    padding: 10px;
}

.itemIncress_decreesAction {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.itemIncress_decreesAction .item_qty {
    width: 3rem;
    text-align: center;
    color: var(--color);
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    background: transparent;
    border: 0;
}

.itemIncress_decreesAction .item_qty:focus-visible {
    outline: none;
}

.singleItemModal {
    background: #f9f9f9 !important;
    border-radius: 20px;
    overflow: hidden;
}

.itemIncress_decreesAction {
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    background: var(--card-color);
    box-shadow: 0 3px 11px #eee;
    padding: 4px;
    border-radius: 20px;
}

.itemIncress_decreesAction > span {
    padding: 3px 8px;
    background: var(--background-color);
    border-radius: 50%;
    border: 1px solid #eee;
    color: var(--color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.itemIncress_decreesAction > span:hover {
    background-color: var(--theme-color);
    color: #fff;
}

.headerContent > .itemName > h6 {
    font-size: 17px;
    margin: 0;
    font-family: sans-serif;
    letter-spacing: 0.4px;
}

.single_itemContent .itemDescription {
    color: var(--color);
}

.singleItem_FooterAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px 6px 6px 30px;
    background: var(--card-color);
    border-radius: 35px;
    border: 1px solid #eee;
}

.singleItem_FooterAction .btn.addTo_cart {
    background: var(--theme-color);
    border-radius: 30px;
    color: #fff;
    padding: 10px 24px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    gap: 5px;
    transition: all 0.4s ease-in-out;
}

.singleItem_FooterAction .btn.addTo_cart:hover {
    background-color: #08ad7c;
}

.singleItem_FooterAction .btn.addTo_cart > i {
    font-size: 25px;
}

.singleItem_FooterAction > .total_amount {
    margin: 0;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.itemDetailsModel .modal-content {
    border: 1px solid #eee;
    border-radius: 25px;
}

.varianBtnArea > input:checked ~ .variantType {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    box-shadow: 0 3px 10px #0dcd948c;
}

.varianBtnArea > .variantType {
    width: 2.4rem;
    height: 2.4rem;
    background: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px #eee;
    border-radius: 8px;
    border: 1px solid #eee;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.varianBtnArea > input:checked ~ .variantType > h6 {
    color: #fff;
}

.varianBtnArea > .variantType:hover {
    border-color: var(--theme-color);
}

.varianBtnArea > .variantType > h6 {
    margin: 0;
    color: var(--color);
}

label.varianBtnArea {
    margin-right: 6px;
}

.viewItemTitle > h6 {
    margin: 0;
    font-family: sans-serif;
    color: var(--color);
}

.allergensItemsList > li > img {
    width: 2.3rem;
    height: 2.3rem;
    flex: 0 0 2.3rem;
    border-radius: 50%;
}

ul.allergensItemsList > li {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 4px;
}

ul.allergensItemsList > li > span {
    font-size: 15px;
    font-weight: 500;
    color: var(--color);
    padding-right: 5px;
}

ul.allergensItemsList {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.extraItemContent > img {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
}

.extraItemContent {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 4px;
    min-width: 10rem;
    background: var(--card-color);
    box-shadow: 0 4px 10px #eee;
    border-radius: 15px;
    border: 1px solid #eee;
    cursor: pointer;
}

.extraItemContent .name {
    color: var(--color);
}

.extraItemContent .price {
    font-family: sans-serif;
    color: #f44336;
    font-size: 15px;
}

label.extraItem {
    margin: 0;
    width: 100%;
    height: 100%;
}

li.extraLabel {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: fit-content;
    flex: 0 0 auto;
}

.extraIncreaseDecrease {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    background: var(--after-bg-color);
    justify-content: center;
}

.extraIncreaseDecrease .extraQty {
    width: 4rem;
    background: transparent;
    border: 0;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 17px;
}

.extraIncreaseDecrease .extraQty:focus {
    outline: none;
}

.extraIncreaseDecrease > span {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--after-bg-color);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.extraIncreaseDecrease > span:hover {
    background-color: var(--theme-color);
    color: #fff;
}

.btn.sm-itemAdd {
    display: none;
}

.itemSearch_btn {
    display: none;
}

ul.extraItemsList {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;
    scrollbar-width: thin;
}

.extraItems_area {
    margin: 15px 0;
}

/* --------------------------------------
    Menu Area
-------------------------------------- */

.menuSection {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.gallery_categoryItem {
    outline: none;
    display: flex;
    align-items: center;
    background: var(--card-color);
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 4px 15px #eee;
    padding: 5px 15px 5px 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 1rem 0;
}

.gallery_categoryItem:focus {
    outline: none;
}

.gallery_categoryItem:not(.active):hover {
    border-color: var(--theme-color);
    color: var(--theme-color);
}

.gallery_categoryItem.active {
    background: var(--theme-color);
    color: #fff !important;
    box-shadow: 0 3px 5px #0dcd9452;
    border-color: #0dcd94;
}

.lgTitle .title {
    margin: 0;
    width: fit-content;
    position: relative;
    font-family: sans-serif;
    font-size: 32px;
    color: var(--color);
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.gallery_categoryItem > .categoryImg {
    width: 3.3rem;
    height: 3rem;
    flex: 0 0 3.3rem;
}

.gallery_categoryItem > .categoryImg > img {
    border-radius: 7px;
}

ul.gallery_topMenu {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
}

.gallery_categoryItem.defaultAll {
    min-width: 6rem;
    width: 100%;
    min-height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
}

.gallery_categoryItem.defaultAll span {
    font-weight: 700;
}

.gallery_categoryItem.defaultAll > i {
    font-size: 22px;
}

.gallery_categoryItem.defaultAll span {
    font-weight: 700;
    font-size: 18px;
}

.menuTitle > .cat_name {
    margin: 0;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: var(--color);
    font-weight: 600;
    font-size: 22px;
}

.all_categoryItems {
    margin-top: 3rem;
}

.menuTitle {
    margin-bottom: 1.2rem;
}

.allItems {
    margin-top: 2rem;
}

.gallery_categoryItem .categoryName {
    font-family: sans-serif;
}

section.specialItems_section .lgTitle {
    margin-bottom: 6rem;
}
section.specialItems_section {
    padding-top: 2rem;
}

.nav-dropBtn > .sm-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    flex: 0 0 2rem;
}

.nav-dropBtn {
    padding: 4px 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.nav-dropBtn:hover {
    background-color: #eeeeee66;
}

.nav-dropBtn:focus {
    box-shadow: none;
    outline: none;
}

.customerInfoContainer {
    top: 12px !important;
    border-radius: 10px;
    background: var(--card-color);
    box-shadow: 0 5px 20px #eee;
    border-color: #eee;
    min-width: 12rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.35rem 1.5rem;
    clear: both;
    color: var(--color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 600;
}

.customerInfoContainer > a > i {
    width: 25px;
    display: inline-block;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--theme-color);
}

/* --------------------------------------
    My Orders Area
-------------------------------------- */

.myOrder_section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.myOrders_historyArea {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    gap: 40px;
}

.orderInfoArea {
    width: 50%;
    height: 100%;
}

.orderInfoArea .title {
    text-align: center;
    margin-bottom: 1.4rem;
}

.orderInfoArea .title > h5 {
    margin: 0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color);
}

.singleOrderDetails {
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--card-color);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 3px 18px var(--box-shadow);
    margin-bottom: 0.6rem;
}

.singleOrderDetails .icon {
    width: 50px;
    height: 100%;
    flex: 0 0 50px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
}

.order_infoContent {
    width: 100%;
}

.order_infoContent > .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_infoContent > .top > .orderID {
    margin: 0;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--theme-color);
    letter-spacing: 0.4px;
    font-size: 20px;
}

.orderStatus {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 2px 7px 2px;
    border-radius: 4px;
}

.order_infoContent > .middle {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 5px 0;
}

.order_infoContent > .middle > span {
    font-family: sans-serif;
    font-size: 15px;
    color: var(--color);
    font-weight: 500;
}

.order_infoContent > .bottom {
    display: flex;
    align-items: self-end;
    justify-content: space-between;
}

.order_infoContent > .bottom .totalPrice {
    font-family: sans-serif;
    color: var(--color);
    font-size: 16px;
    letter-spacing: 0.4px;
}

.order_infoContent > .bottom .totalPrice > span {
    color: #f44336;
}

a.viewOrder {
    font-size: 12px;
    color: #e70b56f5;
    padding: 1px 8px 2px;
    background: #ff186714;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #e70b561a;
    transition: all 0.3s ease-in-out;
}

a.viewOrder:hover {
    background-color: #ff186926;
    text-decoration: none;
}

.pending {
    background: #3366ff29;
    color: #3366ff;
    border: 1px solid #3366ff30;
}

.delivered {
    color: #00b064;
    background: #00b06417;
    border: 1px solid #00c9a738;
}

.accept {
    color: #08d1dd;
    background: #17d1dc17;
    border: 1px solid #17d1dc33;
}

.processing {
    color: #0dcd94;
    background: #0dcd940d;
    border: 1px solid #0dcd9440;
}

.completed {
    color: #178a79;
    background: #178a790f;
    border: 1px solid #178a7936;
}

.out_for_delivery {
    color: #00b0b0;
    background: #00b0b017;
    border: 1px solid #00b0b033;
}

.cancel {
    color: #ff1501;
    background: #f4433617;
    border: 1px solid #f443362b;
}

/* --------------------------------------
    View Order Area
-------------------------------------- */
.viewOrder_section {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.card-header.trackingHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trackingHeader > p {
    margin: 0;
    font-size: 17px;
    color: var(--color);
    font-family: sans-serif;
}

.trackingHeader > .order_id {
    margin: 0;
    color: var(--color);
    font-size: 15px;
}

.trackingHeader > .order_id > b {
    letter-spacing: 0.4px;
    color: var(--default-color);
    font-size: 17px;
}

.orderTracking_system {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 2rem 0;
}

ul.tracking_container {
    display: flex;
    align-items: center;
    position: relative;
}

li.tracking_info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 39px;
    align-items: center;
    width: 20%;
}

.tracking_ui_line {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #eee;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.tracking_info.active .tracking_ui_line {
    background-color: var(--default-color);
}

.tracking_info:first-child .tracking_ui_line {
    border-radius: 30px;
}

.tracking_info:last-child .tracking_ui_line {
    border-radius: 30px;
}

.tracking_ui_line > span {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #eee;
    border-radius: 50%;
}

.tracking_info.active .tracking_ui_line > span {
    background-color: var(--default-color);
}

li.tracking_info.active .icon {
    color: var(--default-color);
}

.tracking_ui_line > span::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7px;
    width: 7px;
    background: #fff;
    border-radius: 50%;
}

li.tracking_info > .icon {
    position: relative;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
}

.trackingText {
    text-align: center;
}

.trackingText > b {
    font-size: 15px;
    color: var(--color);
}

.trackingText > h6 {
    margin: 0;
    font-size: 13px;
    color: var(--color);
    letter-spacing: 0.3px;
}

.tracking_title > h6 {
    color: var(--color);
}

.deliveryAddressItem .deliveryType {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.addressContent > i {
    font-size: 20px;
    color: var(--color);
}

.addressContent {
    font-family: sans-serif;
    color: var(--color);
    font-size: 15px;
}

.delivery_addressArea {
    margin-bottom: 1rem;
}

.deliveryType > .icon {
    color: var(--theme-color);
    font-size: 17px;
}

.deliveryType > h6 {
    margin: 0;
    font-weight: 700;
    color: var(--color);
}

span.createDate {
    font-size: 14px;
    font-weight: 500;
    color: var(--color);
    font-family: sans-serif;
}

.paid {
    padding: 3px 6px 4px;
    font-size: 14px;
    background: #46ff7330;
    color: #0dcd94;
    border-radius: 4px;
}

.unpaid {
    padding: 3px 6px 4px;
    font-size: 14px;
    background: #f4433621;
    color: #f44336;
    border-radius: 4px;
}

.card-title {
    margin-bottom: 0;
    font-size: 17px;
    color: var(--color);
}

.orderItems_container {
    padding: 15px 10px;
}

.sumContainer {
    padding: 15px 10px;
}

ul.totalSum > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
    color: var(--color);
    font-size: 15px;
    font-family: sans-serif;
}

ul.totalSum > .totalAmount {
    border-top: 1px solid #ddd;
    padding-top: 10px !important;
    margin-top: 10px;
}

.btn.viewOrder_invoiceBtn {
    width: 100%;
    background: var(--theme-color);
    color: #fff;
    font-family: sans-serif;
    border: 1px solid var(--theme-color);
    transition: all 0.3s ease-in-out;
}

.btn.viewOrder_invoiceBtn:hover {
    background-color: transparent;
    color: var(--theme-color);
}

.btn.viewOrder_invoiceBtn:focus-visible {
    outline: none;
}

/* --------------------------------------
Checkout Area Start
-------------------------------------- */
.checkoutSection {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.back-btn {
    margin: 1rem 0;
    display: inline-block;
    padding: 3px 9px 2px;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    background: var(--theme-color);
    color: #fff;
    border-radius: 4px;
    border: 1px solid var(--theme-color);
    transition: all 0.3s ease-in-out;
}

.back-btn:hover {
    color: var(--theme-color);
    background-color: transparent;
    text-decoration: none;
}

.addressInfoArea {
    width: 12rem;
    min-height: 7rem;
    border: 2px solid var(--border-color);
    box-shadow: 0 4px 20px var(--box-shadow);
    border-radius: 10px;
    padding: 10px;
    color: var(--color);
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: grabbing;
}

.addressInfoArea .addressType {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addressType > h6 {
    margin: 0;
    font-weight: 800;
    color: var(--color);
}

.addressType > .icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--background-color);
    border-radius: 2px;
}

.addressInfoArea .address_content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.address_content > p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    color: var(--color);
}

.addressInfoArea > .check-icon {
    position: absolute;
    top: 8px;
    right: 6px;
    font-size: 20px;
    color: var(--theme-color);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
}

.address-label > input:checked ~ .addressInfoArea {
    border: 2px solid var(--theme-color);
    /* box-shadow: none; */
}

.address-label > input:checked ~ .addressInfoArea > .check-icon {
    opacity: 1;
    z-index: 1;
}

.address-label > input:checked ~ .addressInfoArea .addressType > .icon {
    background-color: var(--theme-color);
    color: #fff;
}

.address-label > input:checked ~ .addressInfoArea .addressType > h6 {
    color: var(--theme-color);
}

.shoppingAddressArea {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.addressAction {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: auto;
}

.address-label
    > input:checked
    ~ .addressInfoArea
    .addressType
    > .addressAction {
    display: none;
}

.addressAction > .btn {
    padding: 1px 2px;
}

.addressAction > .btn:focus {
    box-shadow: none;
}

.addressAction > .btn.editAddress {
    color: #2196f3;
}

.addressAction > .btn.deleteAddress {
    color: #f44336;
}

.custom-checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 22px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--background-color);
    cursor: pointer;
    margin-right: 7px;
}

.custom-checkbox > span {
    font-weight: 500;
    color: var(--color);
}

.custom-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
}

.custom-checkbox input[type="checkbox"]:checked {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.custom-checkbox input[type="checkbox"]:checked::after {
    font-family: "FontAwesome";
    content: "\f00c";
    font-weight: 900;
    display: flex;
    color: white;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.checkoutType {
    margin-top: 2rem;
}

.checkoutType .nav-tabs {
    border-bottom: 0px solid #dee2e6;
    display: flex;
    align-items: center;
    gap: 10px;
}

label.tabLink.nav-link {
    background: var(--card-color);
    box-shadow: 0 2px 15px var(--box-shadow);
    border: 1px solid #eee;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 0.4px;
    color: var(--color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    margin: 0;
}

label.tabLink.nav-link:hover {
    background-color: var(--theme-color);
    color: #fff;
    box-shadow: none;
}

.nav-tabs .tabLink.nav-link.active {
    color: #fff;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    box-shadow: none;
}

.tab-content {
    margin-top: 3rem;
}

.tab-content > .tab-pane.custom-tabContent {
    padding: 20px 20px;
    background: var(--card-soft);
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.error {
    color: #ff1100;
    font-weight: 700;
    font-size: 17px;
}

.form-group label {
    margin-bottom: 5px;
    color: var(--color);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.form-group .form-control {
    color: var(--color);
    background-color: var(--card-color);
    border: 1px solid #eee;
    min-height: 45px;
    font-family: sans-serif;
}

.form-group .form-control:focus {
    box-shadow: none;
    border-color: var(--theme-color);
}

.input-group-append .addons > input {
    width: 50px;
    background: transparent;
    border: 0px;
    text-align: center;
    color: #fff;
}

.input-group-append .addons > input:focus-visible,
.input-group-append .addons > input:focus {
    outline: none;
    border: 0px;
}

.input-group-append .addons {
    display: flex;
    align-items: center;
    background: #4b566b;
    border-radius: 0.25rem;
    color: #fff;
    padding: 5px 10px;
    height: 44px;
    margin-right: 10px;
}

.single_pickup_area {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color);
    background: var(--body-color);
    border-radius: 5px;
    border: 1px solid #eee;
    margin: 0;
    cursor: pointer;
}

.single_pickup_area.active {
    background: var(--theme-color);
    color: #fff;
}

.pickup_area_list {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.pickupCheckDate .custom-radio {
    margin: 0;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--card-color);
    color: var(--color);
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.custom-radio > input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--box-shadow);
    margin-right: 6px;
}

.custom-radio > input[type="radio"]:checked {
    background-color: var(--card-color);
    border: 5px solid var(--theme-color);
}

.pickupCheckDate {
    display: flex;
    align-items: center;
}

.time_slots_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.single_timeSlots {
    padding: 4px 8px;
    color: var(--default-color) !important;
    background: #ff186717;
    border: 1px solid #ff18671a;
    font-size: 14px !important;
    border-radius: 5px;
    font-weight: 400 !important;
    margin: 0 !important;
    font-family: sans-serif;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.single_timeSlots.active,
.single_timeSlots:hover {
    background-color: var(--default-color);
    border-color: var(--default-color);
    color: #fff !important;
}

a.terms {
    color: var(--color);
}

a.terms:hover {
    color: var(--theme-color);
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 18px;
    font-family: sans-serif;
    color: var(--color);
}

.modal-header .close:focus {
    outline: none;
}

.address_label_btn {
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 4px 20px var(--box-shadow);
    cursor: pointer;
}

.address_label_btn.active {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    color: #fff;
}

.addressLabel_area {
    display: flex;
    align-items: center;
    gap: 18px;
}

.checkout_registerArea,
.checkout_loginArea {
    padding: 20px 20px;
    background: var(--card-soft);
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

/* --------------------------------------
    Profile Area Start
-------------------------------------- */
.myProfileSection {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.customerProfile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--theme-color);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 7px 15px var(--box-shadow);
}

.customer_profileInfo {
    margin-top: 2rem;
}

ul.customer_info_area > li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px 0;
}

ul.customer_info_area > li > b {
    color: var(--color);
    min-width: 5rem;
}

ul.customer_info_area > li > h6 {
    margin: 0;
    color: var(--color);
    font-size: 17px;
}

.pointer {
    cursor: pointer;
}

.table.db-table td,
.table.db-table th {
    padding: 10px;
    color: var(--color);
}

.table.db-table th {
    font-weight: 600;
    font-size: 16px;
}

.btn.action_btn {
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 400;
}
